.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --primaryColor: rgb(138, 75, 175);
  --secondaryColor: rgb(157, 122, 173);
  --primaryBrand: white;
}
#appNavbar {
  background-color: var(--primaryColor) !important;
  color: var(--primaryBrand) !important;
}

.nav-link {
  color: var(--primaryBrand) !important;
}

.nav-link.active {
  background-color: var(--secondaryColor);
  color: var(--primaryBrand) !important;
  transition: all 0.2 ease-out;
  border-radius: 10px;
}

.navbar-brand {
  color: var(--primaryBrand) !important;
  margin-left: 5px;
}

#papers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: var(--primaryColor);
  font-weight: bold;
}

.gridItems {
  margin: 2% !important;
  font-family: "Times New Roman", Times, serif;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}